<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    
    <authorization>
      <deny users="?" />
    </authorization>
    
    <!-- <sessionState 
      mode="InProc" 
      timeout="20" 
      cookieless="UseCookies" 
      regenerateExpiredSessionId="true">
    </sessionState> -->
  </system.web>
  
  <connectionStrings>
    <add name="DefaultConnection" 
         connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-MyApp-20190530151336;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-MyApp.mdf" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>